.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    z-index: 1050;
    overflow: auto;
    outline: 0;
    text-align: center;
    font-size: 0;
    transform: translate3d(0, 0, 0);
}

.popup:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

@media (max-width: 767px) {
    .popup {
        padding: 20px 0;
    }
}

.popup__container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.popup.opened {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

body.popup-opened {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}